head
  block head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    title COVID-19 Vaccination Passport
    meta(name='author' content='')
    meta(name='description' content='COVID-19 Vaccination Passport')
    meta(name='keywords' content='')
    meta(name='viewport' content='width=device-width, minimal-ui')

    include _favicon
    link(rel='stylesheet' href='assets/styles/app.css')
